@import url(https://fonts.googleapis.com/css?family=Red+Hat+Display:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
    /* colors */
    --pc-PaleBlue: hsl(225, 100%, 94%);
    --pc-BrightBlue: hsl(245, 75%, 52%);
    --nc-VeryPaleBlue: hsl(225, 100%, 98%);
    --nc-DesaturatedBlue: hsl(224, 23%, 55%);
    --nc-DarkBlue: hsl(223, 47%, 23%);
    --nc-White: hsl(0, 0%, 100%);
    --nc-LightBlue: hsl(245, 83%, 68%);

    /* typography */
    --ff-RedHatDisplay: 'Red Hat Display',
        sans-serif;
    --fw-500: 500;
    --fw-700: 700;
    --fw-900: 900;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: var(--ff-RedHatDisplay);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(images/pattern-background-desktop.svg) no-repeat;
    background-color: var(--pc-PaleBlue);
    border: 0.3125rem solid saddlebrown;
}

.container {
    margin: auto;
    text-align: center;
    background: var(--nc-White);
    width: min(28.125rem, 85%);
    border-radius: 1.25rem;
}

.order,
.plan,
.proceed,
.cancel {
    padding: 0 3rem;
}

.image-container {
    display: block;
    width: 100%;
    border-radius: 1.25rem 1.25rem 0 0;
}

.order-title {
    font-size: 1.75rem;
    font-weight: var(--fw-900);
    color: var(--nc-DarkBlue);
    margin-top: 3rem;
}

.order-description {
    font-weight: var(--fw-500);
    color: var(--nc-DesaturatedBlue);
    line-height: 1.6;
    margin-top: 0.9375rem;
}


.plan-container {
    background: var(--nc-VeryPaleBlue);
    display: flex;
    gap: 1.3125rem;
    align-items: center;
    margin-top: 1.25rem;
    border-radius: 0.625rem;
    padding: 1.5625rem;
}

.plan-container>:nth-child(2) {
    text-align: start;
}

.plan-container>:nth-child(3) {
    text-align: end;
    flex-grow: 2;
    font-size: 0.875rem;
    color: var(--pc-BrightBlue);
}

.plan-title {
    font-size: 1rem;
    font-weight: var(--fw-900);
    color: var(--nc-DarkBlue);
}

.plan-price {
    font-size: 1rem;
    font-weight: var(--fw-500);
    color: var(--nc-DesaturatedBlue);
}

.change-button {
    font-weight: var(--fw-700);
}

.change-button:hover {
    text-decoration: none;
    color: var(--nc-LightBlue);
}

.proceed-container {
    background: var(--pc-BrightBlue);
    border-radius: 0.625rem;
    padding: 0.9375rem 0;
    margin-top: 2.0625rem;
    box-shadow: 0 1.25rem 1.25rem hsla(245, 83%, 68%, 0.2);
}

.proceed-container:hover {
    background: var(--nc-LightBlue);
}

.proceed-button {
    color: var(--nc-White);
    text-decoration: none;
    font-size: 1rem;
    background: none;
    font-weight: var(--fw-700);
}

.cancel-container {
    margin: 2.0625rem 0 3.125rem;
}

.cancel-button {
    color: var(--nc-DesaturatedBlue);
    font-weight: var(--fw-700);
    text-decoration: none;
    font-size: 1rem;
    background: none;
}

.cancel-button:hover {
    color: var(--nc-DarkBlue);
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width:31.25rem) {


    .container {
        width: min(20.625rem, 95%);
        transition: all 1s ease;
    }

    .order,
    .plan,
    .proceed,
    .cancel {
        padding: 0 1.5rem;
    }

    .order-title {
        font-size: 1.375rem;
        margin-top: 2.125rem;
    }

    .plan-container {
        padding: 1.125rem 1.5625rem;
    }

    .plan-title,
    .plan-price {
        font-size: 0.875rem;
    }

    .proceed-container {
        margin-top: 1.375rem;
    }

    .cancel-container {
        margin: 1.5rem 0 2rem;
    }

}

@media (max-width:20rem) {
    .plan-container {
        flex-direction: column;
    }

}